* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}

body {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(2,0,36);
    background: rgb(34,193,195);
    background: linear-gradient(346deg, rgba(34,193,195,1) 51%, rgba(253,187,45,1) 100%);
}

.board-container {
    margin-top: 100px;
    margin-bottom: 100px;;
    padding: 18px;
    border-radius: 25px;
    box-shadow: 10px  10px 10px 5px rgb(0 , 0 , 0 , 0.5);
}

#board{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.cell {
    border: 1px solid  black;
}

#slider-container {
    margin: 15px auto;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    width: 100%;
    background-color: rgb(143, 239, 240);
    outline: white;
    opacity: 0.7;
    -webkit-transition: 0.2s ;
    transition: opacity 0.2s;
}

#slider-value {
    margin: 5px auto;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    color: white;
    font-style: normal;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 45px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
  background-color: rgb(249, 180, 32);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}


